#createAcctDefault input[type=text] {
	width:330px;
}

#createAcctDefault input[type=password] {
	width:330px;
}

#createAcctDefault input[type=tel] {
	width:330px;
}

#createAcctDefault input[type=email] {
	width:330px;
}

#createAcctDefault label {
	width:170px;
}

#createAcctDefaultLoginLink a{
	text-decoration:underline;
}

.pseudolink{
	text-decoration:underline;
}

@media (max-width: 767px){
  /* iPhone / Pixel Portrait */
 #createAcctDefault label {
	width:300px !important;
}
} 


